body {
    display: flex;
    justify-content: center;
    align-items: center; 
}

#calculator {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    max-width: 300px;
    height: auto;
    margin-top: 5rem;
    border: 2px solid black;
    background-color: #ffff99;
}

#display {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 200px;
    height: 50px;
    margin: 25px;
    border: 2px solid black;
    background-color: white;
    padding: 10px;
}

.line {
    display: flex;
    justify-content: space-between;
}

.operator {
    background-color: #33adff;
}

.num-button {
    background-color: #b3cccc;
}

.calc-button {
    background-color: #ff8080;
}

.num-button, .operator, .calc-button{
    margin: 5px;
    padding: 25px;
}